{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title> Rakibs Blog </title>
	<!--Stylesheets-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css'%}"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

</head>

<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://127.0.0.1:8000">Rakib's Blog</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


		{% if user.is_authenticated %}
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'post_list' %}"> My Dashboard </a> </li>
				<li><a href="{% url 'post_all' %}"> All Blog post(s) </a> </li>
				<li><a href="">Hello, {{user.first_name}}</a></li>
				<li><a href="{% url 'logout' %}">Logout</a></li>
			</ul>
		{% endif %}
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

{% block content %}
{% endblock %}

<footer class="footer">
	<div class="container">
		<b><p class="text-muted" style="float: left;">&copy; Rakib 2017</p></b>
		<a href="https://github.com/tawhidii" class="btn btn-success btn-xs text-muted" role="button" style="float: right;"> Source Code </a>
		<b><p class="text-muted" style="float: right; padding-right: 10px;">GitHub:</p></b>
	</div>
</footer>


<!-- Scripts -->

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js'%}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>
