{% extends 'blog/base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger text-center" id="danger">
   {{message}}
</div>
{% endfor %}
{% endif %}

{% if user.is_authenticated %}
<div class="text-center">
	{% if user.is_superuser %}
		<h3> You are admin </h3>
	{% endif %}
	<a href="{% url 'post_new' %}" class="btn btn-success" role="button">Add New Post</a>
</div>

<h2 class="text-center"> <b>These are all post published on blog: </b></h2>

{% endif %}
<br>


{% for post in posts %}

<div class="panel panel-primary" style="width: 80%; text-align: center; margin-left: 10%;">
	<div class="panel-heading">
		<h3 class="panel-title"><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a>
		{% if user == post.author or user.is_superuser %}
		<a href="{% url 'post_edit' pk=post.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true" style="padding-left: 0%; float: right;"></i></a><a href="{% url 'post_delete' pk=post.pk %}"><i class="fa fa-trash-o" aria-hidden="true" style="padding-right: 1%; float: right;"></i></a></h3>
		{% endif %}
	</div>
	<div class="panel-body">
		<p> {{post.text|truncatechars:500}} </p>
	</div>
	<table class="table table-striped table-bordered">
		<tbody>
			<tr>
				<td><b> Written By: </b>{{post.author.get_full_name}}</td>
				<td><b> Date Written: </b> {{post.published_date}}</td>
			</tr>
		</tbody>
	</table>
</div>

{% endfor %}

<br><br><br><br>

{% endblock %}

